.one, .two, .three, .four {
  display:inline-block;
  width:100px;
  height:100px;
  margin:10px;
}
#one {
  background-color: lightgreen;
}
#two {
    background-color: lightblue;
}
#three {
    background-color: pink;
}
#four {
  background-color: orange;
}

.clicked {
  background-color: lightgrey !important;
}
